.my-stays-page {
    .logo-container {
        color: $clr1;
    }
    h2 {
        padding: 20px 0;
        margin-top: 20px;
    }
    header {
        color: $clr2;
        padding-top: 20px;
    }
    table,
    th,
    td {
        border: 1px solid #ddd;
        border-collapse: collapse;
        text-align: center;
    }

    tr:nth-child(even){
        background-color: rgb(240, 240, 240);

    }
    .table-box {
        margin-top: 40px;
        min-height: 60vh;
        .houses-table {
            width: 100%;

            
        }
    }
}
