.wishlist-page{
    header{
        color: $clr2;
        padding-top: 20px;;
    }
    .logo-container{
        color: $clr1
    }
    h2{
        padding: 20px 0;
    }
    .wishlist-container{
        margin: 30px 0 20px 0;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 15px;

        article{
            position: relative;
            color: $clr2;
            background-color: $clr6;
            border-radius: 12px;
            box-shadow: 0px 6px 16px #0000001f;
            height: 100%;
            overflow: hidden;
            z-index: 0;
            
            .remove{
            background-color: rgba(0, 0, 0, 0.679);
                position:absolute;
                color: rgb(245, 245, 245);
                z-index: 10;
                right:20px;
                top:20px;
                padding: 0.4rem;
                border-radius: 20%;
                
                &:hover {
                    animation: shake 1s;
                    animation-iteration-count: infinite;
                }
                
                @keyframes shake {
                    0% { transform: translate(1px, 1px) rotate(0deg); }
                    10% { transform: translate(-1px, -1px) rotate(-1deg); }
                    20% { transform: translate(-1px, 0px) rotate(1deg); }
                    30% { transform: translate(1px, 1px) rotate(0deg); }
                    40% { transform: translate(1px, -1px) rotate(1deg); }
                    50% { transform: translate(-1px, 2px) rotate(-1deg); }
                    60% { transform: translate(-1px, 1px) rotate(0deg); }
                    70% { transform: translate(1px, 1px) rotate(-1deg); }
                    80% { transform: translate(-1px, -1px) rotate(1deg); }
                    90% { transform: translate(1px, 1px) rotate(0deg); }
                    100% { transform: translate(1px, -1px) rotate(-1deg); }
                }
            }
                
            img{
                width: 100%;
            }

            &:hover{
                box-shadow: 0px 6px 20px #00000033;
                cursor: pointer;
            }
            .wishlist-details{
                margin: 24px 0;
 
                .description{
                padding: 0px 24px;
                margin-top: 20px;
                gap: 20px;
                }
            
                .country{
                    margin-top: 4px 0 6px 0;
                    padding: 10px 24px;
                    text-transform: capitalize;
                }

                .img-container{
                    .small{
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}

